<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление записи</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
<h1>Добавление записи</h1>

<p th:if="${message != null}" style="color: green; font-weight: bold; text-align: center;" th:text="${message}"></p>


<!-- Форма добавления новой записи -->
<div>
    <form action="/add" method="post" enctype="multipart/form-data" id="uploadForm">

        Телефон:<br/>
        <input type="tel" id="telephone" name="telephone"  required
               pattern="^[8]\d{10}$"
               title="Номер телефона должен быть указан в формате 8XXXXXXXXXX"
               placeholder="8XXXXXXXXXX" />

        Дата визита (формат yyyy-MM-dd):<br/>
        <input type="date" id=appointmentDate name="appointmentDate" required /><br/><br/>

        Рекомендации:<br/>
        <textarea id="recommend" name="recommend" rows="5" cols="50" required></textarea><br/><br/>

        Фото клиента:<br/>
        <input type="file" multiple id="clientPhotos" name="clientPhotos" accept="image/*"/><br/><br/>

        <!-- Скрытый контейнер для хранения выбранных файлов -->
        <input type="hidden" id="previousFiles" name="previousFiles" value="" />

        <button class="button" type="submit">Добавить запись</button>
    </form>
</div>

<script>
    // Массив для хранения всех выбранных файлов
    let allSelectedFiles = [];

    // Обработчик выбора файлов
    document.getElementById('clientPhotos').addEventListener('change', function(e) {
        e.preventDefault(); // предотвращаем сброс браузера
        const currentFiles = this.files; // Получаем текущие выбранные файлы
        allSelectedFiles.push(...currentFiles); // Добавляем их в основной массив
    });

    // Обработчик отправки формы
    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault(); // блокируем обычную отправку формы

        const formData = new FormData();

        // Добавляем файлы в объект FormData ТОЛЬКО ЕСЛИ ЕСТЬ ФАЙЛЫ
        if(allSelectedFiles.length > 0){
            allSelectedFiles.forEach((file, idx) => {
                formData.append('clientPhotos', file); // добавляем файл в форму
            });
        }

        // Добавляем остальные поля формы
        formData.append("telephone", document.getElementById('telephone').value);
        formData.append("appointmentDate", document.getElementById('appointmentDate').value);
        formData.append("recommend", document.getElementById('recommend').value);

        // Отправляем данные формы
        fetch('/add', {method: 'POST', body: formData})
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    alert(data.message); // Сообщение сразу показываем
                }
                window.location.href = '/'; // Переходим на главную страницу
            })
            .catch(error => alert('Возникла ошибка при обработке формы.'));
    });
</script>


<a href="/"><button class="button">Вернуться назад</button></a>

</body>
</html>